mat-toolbar {
    img {
        margin-right: .5em;
        display: block;
        width: 48px;
        height: 48px;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

mat-toolbar.grayscale {
    filter: grayscale(1);
}

mat-card {
    margin: .5em;
}

mat-card-header mat-card-title {
    font-size: larger;
}