<header>
    <h2>Pack and Go</h2>
</header>
<main class="main">
    <div class="card">
        <h2 class="title">Boston Common</h2>
        <div class="content">
            <p>Boston Common (also known as the Common) is a central public park in downtown Boston, Massachusetts. It is sometimes erroneously referred to as the "Boston Commons". Dating from 1634, it is the oldest city park in the United States. The Boston
                Common consists of 50 acres (20 ha) of land bounded by Tremont Street, Park Street, Beacon Street, Charles Street, and Boylston Street. The Common is part of the Emerald Necklace of parks and parkways that extend from the Common south
                to Franklin Park in Jamaica Plain, Roxbury, and Dorchester. A visitors' center for all of Boston is located on the Tremont Street side of the park.</p>
            <p> The Central Burying Ground is located on the Boylston Street side of Boston Common and contains the burial sites of the artist Gilbert Stuart and the composer William Billings. Also buried there are Samuel Sprague and his son, Charles Sprague,
                one of America's earliest poets. Samuel Sprague was a participant in the Boston Tea Party and fought in the Revolutionary War. The Common was designated as a Boston Landmark by the Boston Landmarks Commission in 1977.</p>
        </div>
        <a class="map-link" target="_blank" href="http://maps.google.com/?ie=UTF8&amp;hq=&amp;ll=42.355,-71.065556&amp;z=16">Open the map</a>
    </div>
</main>